.pio
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


DifferentialPressureSensor.code-workspace
platformio.ini
build/*
.venv/*
managed_components/*
sdkconfig

sdkconfig.4d_systems_esp32s3_gen4_r8n16_old
sdkconfig.old
s


dependencies.lock
sdkconfig.systemsesp32s3_debug.old
